<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Individual Web Assignment</title>
    <link rel="stylesheet" href="style.css">
    <script src="<https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js>"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="list.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <div class="container-fluid">
            <div class="row-cols-auto">
                <div class="col-auto">
                    <header>
                        <h1 v-text="sitename"></h1>
                        <button class="btn btn-danger" v-on:click='showCheckout'>
                            {{cartItemCount}}
                            <i class="fa fa-smile-o" aria-hidden="true">Checkout Page</i>
                        </button>
                        <div class="search-wrapper">
                            <input type="text" v-model="search" placeholder="Search title.."/>
                                <label>Search title:</label>
                          </div>
                       
                        
                    </header>
                    
                    <main>
                        <div class="card" v-for="post in filteredList">
                            
                        </div>
                        <div v-if='showProduct'>
                            <div v-for="product in sortedProducts" class="card-body" style="width: 20rem; float: right;">
                                <h2 class="card-title" v-text="product.title" value="title"></h2>
                                <figure>
                                    <img class="card-img-top" v-bind:src="product.image">
                                </figure>
                                <p class="card-text" v-html="product.description"></p>
                                <p class="card-text" value="price">Price: {{product.price}}</p>
                                <p class="card-text">Available stock: {{product.availableInventory -cartCount(product.id) }}</p>
            
                                <!-- <button v-on:click="addToCart" 
                                v-show='canAddToCart'>
                                Add to cart
                                </button> -->
            
                                <button class="btn btn-danger" v-on:click='addToCart(product)' v-if='canAddToCart(product)'>Add to cart</button>
            
                                <button class="btn btn-primary" disabled="disabled" v-else>Add to cart</button>
            
                                <span v-if='product.availableInventory === cartCount(product.id)'>All out!</span>
                                <span v-else-if="product.availableInventory - cartCount(product.id) < 5">
                                    Only {{product.availableInventory - cartCount(product.id)}} left!
                                </span>
                                <span v-else>Buy now!</span>
            
                                <div>
                                    <span v-for='n in product.rating'>★ </span>
                                    
                                    <span v-for='n in 5-product.rating'>☆</span>
                                </div>
                            </div>
                        </div>
                            <div v-else>
                                <h2>Checkout</h2>
                                <p>
                                    <strong>First Name:</strong>
                                    <!-- This input field is bound to 'firstName' in the 'order' object -->
                                    <input v-model.trim="order.firstName" />
                                </p>
                                <p>
                                    <strong>Last Name:</strong>
                                    <!-- This input field is bound to 'lastName' in the 'order' object -->
                                    <input v-model.trim="order.lastName" />
                                </p>
                                <p>
                                    <strong>Address:</strong>
                                    <input v-model="order.address" />
                                </p>
                                <p>
                                    <strong>City:</strong>
                                    <input v-model="order.city" />
                                </p>
                                <p>
                                    <strong>State:</strong>
                                    <select v-model="order.state">
                                        <option disabled value="">State</option>
                                        <option v-for="(state, key) in states" v-bind:value="state">
                                            {{key}}
                                        </option>
                                        <!-- <option v-bind:value="states.AL">AL</option>
                                        <option v-bind:value="states.AR">AR</option>
                                        <option v-bind:value="states.CA">CA</option>
                                        <option v-bind:value="states.NV">NV</option> -->
                                    </select>
                                </p>
                                <p>
                                    <strong>Zip / Postal Code:</strong>
                                    <input v-model.number="order.zip" type="number" />
                                </p>
                
                                <p><input type="checkbox" id="gift" value="true" v-model="order.gift" v-bind:true-value="order.sendGift"
                                        v-bind:false-value="order.dontSendGift">
                                    <label for="gift">Ship As Gift?</label></p>
                
                                <p>
                                    <input type="radio" id="home" value="Home" v-model="order.method">
                                    <label for="home">Home</label>
                                    <input type="radio" id="business" value="Business" v-model="order.method">
                                    <label for="business">Business</label>
                                </p>
                
                                <h2>Order Information</h2>
                                <p>First Name: {{order.firstName}}</p>
                                <p>Last Name: {{order.lastName}}</p>
                                <p>Address: {{order.address}}</p>
                                <p>City: {{order.city}}</p>
                                <p>Zip: {{order.zip}}</p>
                                <p>State: {{order.state}}</p>
                                <p>Gift? {{order.gift}}</p>
                                <p>Method: {{order.method}}</p><div v-if='showProduct'>
                                    <div v-for="product in sortedProducts">
                                        <h2 v-text="product.title"></h2>
                                        <figure>
                                            <img v-bind:src="product.image">
                                        </figure>
                                        <p v-html="product.description"></p>
                                        <p>Price: {{product.price}}</p>
                                    </div>
                
                
                                <button v-on:click="submitForm">Place Order</button>
                            </div>
                        </main>
                    </div>
                </div>
            </div>
           
        </div>
    
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script type="text/javascript">
            class Post {
  constructor(title, image, description, price) {
    this.title = title;
    this.image = image;
    this.description = description;
    this.price = price;
  }
}
            var webstore = new Vue({
                el: '#app',
                data: {
                    sitename: 'Individual Project',
                    products: products,
                    // product: {
                    //     id: 1001,
                    //     title: "Cat Food, 25lb bag",
                    //     description: "A 25 pound bag of <em>irresistible</em>, " + "organic goodness for your cat.",
                    //     price: 2000,
                    //     image: "images/product-fullsize.png",
                    //     availableInventory: 10,
                    //     rating: 3
                    // },
                    cart: [],
                    showProduct: true,
                    order: {
                        firstName: '',
                        lastName: '',
                        address: '',
                        city: '',
                        zip: '',
                        state: '',
                        method: 'Home',
                        gift: 'Send as a gift',
                        sendGift: 'Send as a gift',
                        dontSendGift: 'Do not send as a gift'
                    },
                    states: {
                        AL: 'Alabama',
                        AR: 'Arizona',
                        CA: 'California',
                        NV: 'Nevada'
                    },
                },
                // created: function () {
                //     this.products = allProducts
                // },
                methods: {
                    addToCart(product) {
                        this.cart.push(product.id);
                        // console.log('adding to cart', product.id)
                    },
                    sort: function(s){
                if(s === this.sortBy) {
                    this.sortDirection = this.sortDirection === 'asc' ? 'desc' : 'asc';
                }
                this.sortBy = s;
            },
                    showCheckout() {
                        // console.log(this.showProduct);
                        this.showProduct = this.showProduct ? false : true;
                    },
                    submitForm() {
                        alert('Order submitted!')
                    },
                    canAddToCart(product) {
                        return product.availableInventory > this.cartCount(product.id);
                    },
                    cartCount(id) {
                        let count = 0;
                        for (let i = 0; i < this.cart.length; i++) {
                            if (this.cart[i] === id) {
                                count++;
                            }
                        }
                        return count;
                    }
                },
                computed: {
                    cartItemCount() {
                        return this.cart.length;
                    },
                    canAddToCart(product) {
                        return product.availableInventory > this.cartItemCount;
                    },
                    sortedProducts() {
                        let productsArray = this.products.slice(0);
                        function compare(a, b) {
                            if (a.price > b.price)
                                return 1;
                            if (a.price < b.price)
                                return -1;
                            return 0;
                        }
                        return productsArray.sort(compare);
                    },
                   
                },
            });

           
        </script>
    </body>
    
    </html>